* {
    margin: 0;
    padding: 0;
    font-family: "canItalic", sans-serif;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

.nav li{
    list-style: none;
}

a:hover{
    text-decoration: underline;
}

.header{
    width: 100vw;
    height: 5vw;
    background-color: transparent;
    padding-left: 3rem;
    color: #fff;
    font-size: large;
}

.header-in{
    height: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 30%;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.content1{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-area1{
    width: 80%;
    height: 50%;
    gap: 5rem;
    display: flex;
    justify-content: space-between;
}

.text-area1{
    width: 50%;
    padding: 3rem 3rem;
}

.photo-area1{
    width: 50%;
    height: 100%;
}

h1{
    position: relative;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 20px;
    color: white;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    border-right: 0.1em solid;
    animation: typing 6s steps(30, start) infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 101%; }
}

p{
    line-height: 4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 50;
}

.photo-of-me{
    background-image: url(slike/me2.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

@media screen and (max-width: 1024px) {
    .content-area1{
        display: block;
    }
    .text-area1{
        width: 95%;
    }
    .photo-area1{
        width: 80%;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 5vw;
    }
    h1{
        position: relative;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        color: white;
    }
    p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
        margin-top: 5vh;
        cursor: pointer;
    }
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: transparent;
        padding: 10px;
    }
    .nav.show {
        display: flex;
        justify-content: start;
    }
    .nav li {
        margin: 10px 0;
    }
    .nav a {
        color: white; 
        display: block; 
    }
}

@media screen and (max-width: 425px) {
    h1{
        font-size: 1.1rem;
    }
    p{
        font-size: 0.8rem;
        line-height: 2rem;
    }
}

